$first-color: #9b9ba1;
$first-color-alt: #2d2d36;
$second-color: #fdb2b7;
$second-color-alt: #cf9195;
$third-color: #8bbed4;
$third-color-alt: #66A9C6;
$fourth-color: #f4f7f7;
$bg-color: #323239;
$bg-color-alt: #50505c;