@use "../partials/mixins";
@use "../partials/devices";
@use "../partials/palette";

.about {
    @include mixins.section-style (palette.$bg-color-alt, palette.$second-color, 40px, palette.$bg-color, 18px);
    &__container {
        display: flex;
        align-items: space-between;
        &--img {
            height: 250px;
            border-radius: 50%;
            padding-left: 30px;
        }
        @include mixins.screen-size (0, devices.$sm) {
            flex-direction: column;
            align-items: center;
            &--img{
                height: 150px;
                width: 150px;
                padding: 0px;
            } 
        }
    }  
}
