@use "../partials/mixins";
@use "../partials/devices";
@use "../partials/palette";

.about {
    @include mixins.section-style (palette.$bg-color-alt, palette.$second-color-alt, 40px, palette.$first-color-alt, 18px); 
    @include mixins.title-line (palette.$second-color-alt);
    &__container {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    &__img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        padding: 30px;
    }
    @include mixins.screen-size (0, devices.$sm) {
        &__img {
            height: 150px;
            width: 150px;
        } 
    }  
}
