@use "../partials/palette";
@use "../partials/mixins";
@use "../partials/devices";

.contact {
    @include mixins.section-style (palette.$bg-color, palette.$second-color, 40px, palette.$first-color, 18px);
    @include mixins.title-line (palette.$second-color);
    &__text {
        display: flex;
        justify-content: space-between;
        &--p {
            padding: 0px 30px 20px 0px;
        }
        &--a {
            font-size: 18px;
            &:visited {
                text-decoration: none;  
                color: palette.$first-color;
            }
            &:link {
                text-decoration: none;  
                color: palette.$first-color;
            }
            &:hover {
                color: palette.$third-color;
            }
            & i {
                padding: 0px 30px 30px 0px;
            }
        }
        @include mixins.screen-size (0, devices.$lg) {
            flex-flow: column wrap;
            &--a {
                padding: 20px 0px;
            }
        }
    }
}