@use "../partials/palette";
@use "../partials/mixins";
@use "../partials/devices";

.contact {
    @include mixins.section-style (palette.$bg-color, palette.$second-color, 40px, palette.$first-color, 18px);
    @include mixins.title-line (palette.$second-color);
    &__links {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center; 
        padding-top: 30px;
        &--a {
            display: flex;
            align-items: center;
            font-size: 18px;
            padding-bottom: 20px;
            &:visited {
                text-decoration: none;  
                color: palette.$first-color;
            }
            &:link {
                text-decoration: none;  
                color: palette.$first-color;
            }
            &:hover {
                color: palette.$third-color;
            }
            & i {
                padding-right: 20px;
            }
        }
    }
}