@use "../partials/palette";
@use "../partials/mixins";
@use "../partials/devices";

.contact {
    @include mixins.section-style (palette.$bg-color, palette.$second-color, 40px, palette.$first-color, 18px);
    @include mixins.title-line (palette.$second-color);
}

a {
    &:link {
        text-decoration: none;  
        color: palette.$first-color;
    }
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}