@use "../partials/palette";
@use "../partials/mixins";
@use "../partials/devices";

.home {
    background-color: palette.$bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position:fixed;
    top:0;
    left:0;
    z-index:500;
    &__img {
        border-radius: 50%;
        @include mixins.home-image-prop (500px, 45px);
        }
    &__text {
        display: flex;
        flex-flow: column wrap;
        @include mixins.title-para (palette.$second-color, 60px, palette.$first-color, 26px);
        padding: 55px;
        &--p {
            border-left: 1px solid palette.$first-color;
            padding-left: 10px;
        }
        &--btn {
            font-size: 16px;
            font-weight: bold;
            color: palette.$bg-color;
            background-color: palette.$first-color;
            border: solid 1px;
            border-radius: 9px;
            padding: 13px;
            &:hover {
                background-color: palette.$third-color;
                cursor: pointer;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
            }
        }
    }
    // resize xs devices
    @include mixins.screen-size(0px, devices.$xs) {
        flex-direction: column;
        &__img {
            @include mixins.home-image-prop (35vw, 0px);
            margin-bottom: 20px;
        }
        &__text {
            @include mixins.title-para (palette.$second-color, 40px, palette.$first-color, 18px);
            padding: 30px;
            &--h1 {
                text-align: center;
            }
            &--btn {
                font-size: 12px;
                padding: 5px;
            }
        }   
     }
    // resize sm devices
     @include mixins.screen-size(devices.$xs + 1px, devices.$sm) {
        flex-direction: column;
        &__img {
            @include mixins.home-image-prop (40vw, 0px);
            margin-bottom: 30px;
        }
        &__text {
            @include mixins.title-para (palette.$second-color, 45px, palette.$first-color, 20px);
            padding: 40px;
            &--h1 {
                text-align: center;
            }
            &--btn {
                font-size: 12px;
                padding: 7px;
            }
        }   
    }
    // resize md devices
    @include mixins.screen-size(devices.$sm + 1px, devices.$md) {
        flex-direction: column;
        &__img {
            @include mixins.home-image-prop (37vw, 40px);
        }
        &__text {
            @include mixins.title-para (palette.$second-color, 50px, palette.$first-color, 22px);
            padding: 45px;
            &--btn {
                font-size: 14px;
                padding: 9px;
            }
        }   
    }
    // resize lg devices
    @include mixins.screen-size(devices.$md + 1px, devices.$lg) {
        &__img {
            @include mixins.home-image-prop (40vw, 40px);
        }
        &__text {
            @include mixins.title-para (palette.$second-color, 55px, palette.$first-color, 24px);
            padding: 50px;
            &--btn {
                font-size: 14px;
                padding: 11px;
            }
        }   
    }
    // resize xl devices
    @include mixins.screen-size(devices.$lg + 1px, devices.$xl) {
        &__img {
            @include mixins.home-image-prop (500px, 45px);
        }
        &__text {
            @include mixins.title-para (palette.$second-color, 60px, palette.$first-color, 26px);
            padding: 55px;
            &--btn {
                font-size: 16px;
                padding: 13px;
            }
        }   
    }
}