@use "../partials/palette";
@use "../partials/mixins";
@use "../partials/devices";

.nav {
    background-color: palette.$bg-color;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    display: block;
    z-index: 900;
    box-shadow: 0 4px 4px 0 #00000033;;
    & ul {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 5px;
        padding-right: 10px;
    }
    

    @include mixins.screen-size(0px, devices.$sm) {
        flex-direction: column;
        align-items: end;
    }
}

.icon {
    cursor: pointer;
    padding: 10px;
    &:hover > div {
        background-color: palette.$third-color;
    }
    &__line {
        width: 50px;
        height: 5px;
        background-color: palette.$fourth-color;
        margin: 6px 0;
        width: 60px;
        height: 6px;
        border-radius: 10px;
        @include mixins.screen-size(0px, devices.$xs) {
            width: 45px;
        }
    }
}
    
.change .icon__line{
    &--top {
        transform: translate(0, 11px) rotate(-45deg);
    }        

    &--middle {
        opacity: 0;
    }
    
    &--btm {
        transform: translate(0px, -11px) rotate(45deg);
    }
}
    
.pages {
    &__a {
        color: palette.$fourth-color;
        text-decoration: none;
        font-size: 30px;
        margin: 35px; 
        @include mixins.screen-size(0px, devices.$sm) {
            font-size: 24px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: end;
        }
        @include mixins.screen-size(devices.$sm + 1px, devices.$md) {
            font-size: 26px;
            margin: 14px;
        }
    }
    &__a:hover {
        color: palette.$third-color;
        cursor: pointer;
    }   
}