@use "../partials/palette";
@use "../partials/mixins";
@use "../partials/devices";

.projects {
    @include mixins.section-style (palette.$bg-color-alt, palette.$second-color-alt, 40px, palette.$first-color-alt, 18px);
    display: flex;
    flex-flow: column wrap;
    &__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    &__gallery {
        padding: 30px;
        text-align: center;
        &--p span {
            color: palette.$bg-color;
        } 
        &:hover {
            cursor: pointer;
            position: relative;
            top: -10px;
            font-weight: bold;
        }
        & img:hover {
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
        }
   }
}
   
