@use "../partials/palette";
@use "../partials/mixins";
@use "../partials/devices";

.nav {
    background-color: palette.$bg-color;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    display: block;
    opacity: 80%;
    z-index: 900;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;

    @include mixins.screen-size(0px, devices.$sm) {
        flex-direction: column;
        align-items: end;
    }
}

.icon {
    cursor: pointer;
    &:hover > div {
        background-color: palette.$third-color;
    }

    &__line {
        width: 50px;
        height: 5px;
        background-color: palette.$fourth-color;
        margin: 6px 0;
        transition: 0.2s;
        width: 60px;
        height: 6px;
    }
}
    
.change .icon__line{
    &--top {
        transform: translate(0, 8px) rotate(-45deg);
    }        

    &--middle {
        opacity: 0;
    }
    
    &--btm {
        transform: translate(0px, -14px) rotate(45deg);
    }
}
    
.pages {
    &__a {
        color: palette.$fourth-color;
        text-decoration: none;
        font-size: 30px;
        margin: 35px; 
        @include mixins.screen-size(0px, devices.$sm) {
            font-size: 24px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: end;
        }
        @include mixins.screen-size(devices.$sm + 1px, devices.$md) {
            font-size: 26px;
            margin: 14px;
        }
    }
    &__a:hover {
        color: palette.$third-color;
        cursor: pointer;
    }   
}