.nav {
    background-color: #323239;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    display: block;
    z-index: 900;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5px;
    padding-right: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: end;
    }
}
.icon {
    cursor: pointer;
    padding: 10px;
}

.icon:hover > div {
    background-color: #8bbed4;
}

.icon__line {
    width: 50px;
    height: 5px;
    background-color: #f4f7f7;
    margin: 6px 0;
    width: 60px;
    height: 6px;
    border-radius: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
    .icon__line {
        width: 45px;
    }
}
.change .icon__line--top {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .icon__line--middle {
    opacity: 0;
}

.change .icon__line--btm {
    transform: translate(0px, -11px) rotate(45deg);
}

.pages__a {
    color: #f4f7f7;
    text-decoration: none;
    font-size: 30px;
    margin: 35px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .pages__a {
        font-size: 24px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .pages__a {
        font-size: 26px;
        margin: 14px;
    }
}
.pages__a:hover {
    color: #8bbed4;
    cursor: pointer;
}

.home {
    background-color: #323239;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}

.home__h1 {
    padding-bottom: 10px;
}

.home__img {
    border-radius: 50%;
    width: 500px;
    height: width;
    padding: 45px;
}

.home__text {
    display: flex;
    flex-flow: column wrap;
    padding: 55px;
}

.home__text h1 {
    color: #fdb2b7;
    font-size: 60px;
}

.home__text p {
    color: #9b9ba1;
    font-size: 26px;
}

.home__text--p {
    border-left: 1px solid #9b9ba1;
    padding-left: 10px;
}

.home__text--btn {
    font-size: 18px;
    font-weight: bold;
    color: #323239;
    background-color: #9b9ba1;
    border: solid 1px;
    border-radius: 9px;
    padding: 13px;
}

.home__text--btn:hover {
    background-color: #8bbed4;
    cursor: pointer;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
    .home {
        flex-direction: column;
    }
    .home__img {
        width: 50vw;
        height: width;
        padding: 0px;
        margin-bottom: 20px;
    }
    .home__text {
        padding: 30px;
    }
    .home__text h1 {
        color: #fdb2b7;
        font-size: 40px;
    }
    .home__text p {
        color: #9b9ba1;
        font-size: 18px;
    }
    .home__text--h1 {
        text-align: center;
    }
    .home__text--btn {
        font-size: 16px;
        padding: 5px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .home {
        flex-direction: column;
    }
    .home__img {
        width: 40vw;
        height: width;
        padding: 0px;
        margin-bottom: 30px;
    }
    .home__text {
        padding: 40px;
    }
    .home__text h1 {
        color: #fdb2b7;
        font-size: 45px;
    }
    .home__text p {
        color: #9b9ba1;
        font-size: 20px;
    }
    .home__text--h1 {
        text-align: center;
    }
    .home__text--btn {
        font-size: 16px;
        padding: 7px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .home {
        flex-direction: column;
    }
    .home__img {
        width: 40vw;
        height: width;
        padding: 40px;
    }
    .home__text {
        padding: 45px;
    }
    .home__text h1 {
        color: #fdb2b7;
        font-size: 50px;
    }
    .home__text p {
        color: #9b9ba1;
        font-size: 22px;
    }
    .home__text--btn {
        font-size: 18px;
        padding: 9px;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .home__img {
        width: 40vw;
        height: width;
        padding: 40px;
    }
    .home__text {
        padding: 50px;
    }
    .home__text h1 {
        color: #fdb2b7;
        font-size: 55px;
    }
    .home__text p {
        color: #9b9ba1;
        font-size: 24px;
    }
    .home__text--btn {
        font-size: 18px;
        padding: 11px;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
    .home__img {
        width: 500px;
        height: width;
        padding: 45px;
    }
    .home__text {
        padding: 55px;
    }
    .home__text h1 {
        color: #fdb2b7;
        font-size: 60px;
    }
    .home__text p {
        color: #9b9ba1;
        font-size: 26px;
    }
    .home__text--btn {
        font-size: 20px;
        padding: 13px;
    }
}
.projects {
    background-color: #50505c;
    display: flex;
    flex-flow: column wrap;
}

.projects h1 {
    color: #fc8fac;
    font-size: 40px;
}

.projects p {
    color: #c2c7ca;
    font-size: 18px;
}

.projects__h1::after {
    content: '';
    flex: 1;
    height: 1px;
    margin: 0 4px;
    background-color: #fc8fac;
}

.projects__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (min-width: 0) and (max-width: 600px) {
    .projects__container {
        flex-direction: column;
        justify-content: center;
    }
}
.projects__gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

@media only screen and (min-width: 0) and (max-width: 600px) {
    .projects__gallery {
        flex-direction: column;
        align-items: center;
    }
}
.projects__gallery b {
    color: #8bbed4;
}

.projects__gallery--p {
    width: 14vw;
    padding: 7px;
    text-align: center;
}

@media only screen and (min-width: 0) and (max-width: 1200px) {
    .projects__gallery--p {
        width: 40vw;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
    .projects__gallery--p {
        width: 11vw;
    }
}
.projects__gallery--p-links {
    display: flex;
    justify-content: center;
}

.projects__gallery--img {
    padding: 10px;
    height: 350px;
    width: 240px;
}

.projects__gallery--img:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.skills {
    background-color: #323239;
    display: flex;
    flex-flow: column wrap;
}

.skills h1 {
    color: #fdb2b7;
    font-size: 40px;
}

.skills p {
    color: #9b9ba1;
    font-size: 18px;
}

.skills__h1::after {
    content: '';
    flex: 1;
    height: 1px;
    margin: 0 4px;
    background-color: #fdb2b7;
}

.skills__ul {
    color: #8bbed4;
    font-size: 24px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

.skills__ul li {
    display: flex;
    align-items: center;
    padding: 20px;
}

.skills__ul li i {
    padding-right: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .skills__ul {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .skills__ul li {
        padding: 20px;
    }
}
.about {
    background-color: #50505c;
}

.about h1 {
    color: #fc8fac;
    font-size: 40px;
}

.about p {
    color: #c2c7ca;
    font-size: 18px;
}

.about__h1::after {
    content: '';
    flex: 1;
    height: 1px;
    margin: 0 4px;
    background-color: #fc8fac;
}

.about__container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.about__img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 20px;
}

.about__p {
    padding-bottom: 25px;
}

@media only screen and (min-width: 0) and (max-width: 768px) {
    .about__img {
        height: 150px;
        width: 150px;
    }
}
.contact {
    background-color: #323239;
}

.contact h1 {
    color: #fdb2b7;
    font-size: 40px;
}

.contact p {
    color: #9b9ba1;
    font-size: 18px;
}

.contact__h1::after {
    content: '';
    flex: 1;
    height: 1px;
    margin: 0 4px;
    background-color: #fdb2b7;
}

.contact__links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.contact__links--a {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-bottom: 20px;
}

.contact__links--a:visited {
    text-decoration: none;
    color: #9b9ba1;
}

.contact__links--a:link {
    text-decoration: none;
    color: #9b9ba1;
}

.contact__links--a:hover {
    color: #8bbed4;
}

.contact__links--a i {
    padding-right: 20px;
}

* {
    font-family: monospace;
    margin: 0px;
    overflow-x: hidden;
}

.section {
    width: 100vw;
    margin-top: 100vh;
    z-index: 600;
    position: relative;
}

.section > div {
    padding: 100px 20vw;
}

.section > div h1 {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
    .section > div {
        padding: 60px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .section > div {
        padding: 80px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .section > div {
        padding: 100px 150px;
    }
}
